@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-void text-slate-50 antialiased selection:bg-indigo-500/30 selection:text-indigo-200;
  }
}

/* Custom Scrollbar for "Terminal" feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700;
}
